{% extends "app_hm10/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Register</h2>

            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                        {{ form.first_name }}
                        <div class="text-danger">{{ form.first_name.errors.as_text }}</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                        {{ form.last_name }}
                        <div class="text-danger">{{ form.last_name.errors.as_text }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                        <div class="text-danger">{{ form.username.errors.as_text }}</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                        <div class="text-danger">{{ form.email.errors.as_text }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.password1.id_for_label }}">Password</label>
                        {{ form.password1 }}
                        <div class="text-danger">{{ form.password1.errors.as_text }}</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                        {{ form.password2 }}
                        <div class="text-danger">{{ form.password2.errors.as_text }}</div>
                    </div>
                </div>

                <div class="form-group mt-4 mb-1">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
