{% extends "app_hm10/base.html" %}

{% block content %}
<h1>Your pictures</h1>
<div class="row">
    {% for picture in pictures %}
    <div class="col-md-4">
        <div class="card col-md-4" style="width: 18rem;">
            <img src="/media/{{picture.path}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    {{picture.description}}
                </p>
                <a href="{% url 'app_hm10:edit' picture.id %}" class="btn btn-warning">Edit </a>
                <a href="{% url 'app_hm10:remove' picture.id %}" class="btn btn-danger">Delete </a>
            </div>
        </div>

    </div>

    {% endfor %}
</div>
{% endblock %}