{% extends "app_hm10/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2 class="my-4">All Quotes</h2>

        {% for quote in page_quotes %}
        <div class="card mb-4">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ quote.text }}</p>
                    <footer class="blockquote-footer">
                        <a href="{% url 'app_hm10:author_detail' author_id=quote.author.id %}">{{ quote.author.fullname }}</a>
                    </footer>
                </blockquote>
                <ul class="list-inline mt-2">
                    {% for tag in quote.tags.all %}
                    <li class="list-inline-item badge bg-secondary">
                        <a href="{% url 'app_hm10:tag_detail' tag_id=tag.id %}" class="text-white text-decoration-none">{{ tag.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}

        <div class="pagination justify-content-center">
            {% if page_quotes.has_previous %}
                <a href="?page=1" class="btn btn-light">&laquo; First</a>
                <a href="?page={{ page_quotes.previous_page_number }}" class="btn btn-light">Previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ page_quotes.number }} of {{ page_quotes.paginator.num_pages }}.
            </span>

            {% if page_quotes.has_next %}
                <a href="?page={{ page_quotes.next_page_number }}" class="btn btn-light">Next</a>
                <a href="?page={{ page_quotes.paginator.num_pages }}" class="btn btn-light">Last &raquo;</a>
            {% endif %}
        </div>
    </div>

    <div class="col-md-4">
        <h2 class="my-4">Top 10 Tags</h2>

        <div class="list-group">
            {% for tag in tags %}
            <a href="{% url 'app_hm10:tag_detail' tag_id=tag.id %}" class="list-group-item d-flex justify-content-between align-items-center">
                {{ tag.name }}
                <span class="badge bg-secondary">{{ tag.usage_count }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
